.page {
	margin: 0;
	height: 100%;
}
.link {
	color: #76dae8;
	text-decoration: none;
}

.link:hover {
	color: white;
}
.button {
	outline: none;
	margin: 0 5px;
}
.button_hide,
.checkbox_hide,
.main__promo-container,
.header__projects-list {
	display: none;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	color: white;
	background-color: black;
}
.header__logo {
	margin: 0 5px;
}
.header__bars-menu {
	display: none;
	padding: 0 10px;
	font-size: 34pt;
	cursor: pointer;
}
.header__button-container {
	display: block;
	z-index: 1000;
}
.header__button-panel {
	display: flex;
	align-items: center;

}
.header__auto-update-label {
	display: none;
	margin: 0 5px;
	cursor: pointer;
	position: relative;
	width: 60px;
	height: 38px;
	border-radius: 6px;
	background-color: #36383f;
	transition: .5s;
}
.header__auto-update-switcher {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 28px;
	border-radius: 6px;
	top: 5px;
	left: 5px;
	background-color: #fff;
	transition: .5s;
}
.header__title {
	display: none;
	padding-left: 10px;
	font-size: 1.5em;
}
.header__title__username {
	display: none;
	cursor: default;
}
.header__title__projectname {
	display: none;
	color: #76dae8;
	cursor: text;
}
.header__dashboard-link {
	display: none;
	margin: 0 5px;
}
.main {
	background-color: #181818;
	height: 800px;
}
.main__projects-list {
	display: none;
	height: 100%;
	overflow: auto;
}
.main__promo-container {
	height: 100%;
	background-image: url('../img/promo-img.jpg');
	background-size: cover;
}
.main__promo-text {
	padding: 1%;
	width: 360px;
	color: white;
	font-size: 32pt;
	background-color: rgba(47, 48, 43);
	opacity: .8;
	z-index: 100;
}
.main__promo-name {
	margin: 0;
}
.main__promo-paragraph {
	position: relative;
	left: 5%;
	margin: 0;
}
.main__user-container {
	display: none;
	box-sizing: border-box;
	color: white;
	float: left;
	width: 50%;
	height: 100%;
	overflow: auto;
}
.main__window-title {
	cursor: pointer;
	margin: 0;
	padding-left: 10px;
	border: 1px solid #36383f;
	transition: .3s;
}
.main__window-title:hover {
	background-color: #1a1b1f;
}
.main__user-window {
	width: 100%;
	height: 100%;
	font-size: 14px;
}
.main__ouput-window {
	display: none;
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	overflow: auto;
	background-color: white;
}
.main__projects-list__wrapper {
	padding: 5px 0 0 5px;
	font-size: 1.2em;
	position: relative;
	width: 50%;
}
.main__projects-list__wrapper .link {
	padding-left: 50px;
	display: block;
	width: 50%;
}
.main__projects-list__delete {
	color: rgb(173, 2, 2);
	position: absolute;
	display: none;
}
.main__projects-list__delete:hover {
	color: rgb(250, 4, 4);
	cursor: pointer;
}
.main__projects-list__wrapper:hover .main__projects-list__delete{
	display: block;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 70px;
	color: white;
	background-color: black;
}
.footer__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.footer__list-item {
	list-style: none;
	text-decoration: none;
	margin: 0 5px;
}
.footer__copyright {
	text-align: center;
}

/* Стилевые свойства cообщения об успешном сохранении */

.save {
	display: none;
	position: fixed;
	width: 30%;
	top: 20%;
	left: 35%;
	z-index: 4000;
	background-color: white;
	border-radius: 13px;
}
.save__message,
.delete__message {
	text-align: center;
	display: none;
}
.layout__save__message {
	display: none;
	position: fixed;
	background: black;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	z-index: 3000;
}

/* Стилевые свойства попапа Входа/Регистрации */

.layout {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.3;
	z-index: 3000;
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 500px;
	width: 70vw;
    transform: translate(-50%, -50%);
	z-index: 4000;
	background-color: white;
	border-radius: 13px;
	box-sizing: border-box;
	padding: 40px;
}

.popup__close-cross {
	position: fixed;
	top: 5px;
	right: 5px;
	color: #404040;
	font-size: 20pt;
	opacity: .6;
	transition: .5s;
}
.popup__close-cross:hover {
	opacity: 0.8;
	color: black;
	cursor: pointer;
}
.popup__title {
	display: none;
	text-align: center;
}
.popup__text-place {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	outline: none;
	border: solid lightgrey 1px;
}
.popup__error {
	display: none;
	color: red;
}
.popup__button {
	text-decoration: none;
	outline: none;
	border: none;
  	display: inline-block;
  	color: white;
 	padding: 10px 15px;
 	margin: 10px;
 	border-radius: 10px;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	background-image: linear-gradient(45deg, #51b8fa 0%, #33739c 50%, #265c7d 100%);
 	background-position: 100% 0;
  	background-size: 200% 200%;
  	box-shadow: 5px 10px 32px 0 lightgrey;
  	transition: 0.5s;
  	cursor: pointer;
}
.popup__button_hide {
	display: none;
}
.popup__button:hover {
	box-shadow: 0 0 0 0 lightgrey;
	background-position: 0 0;
}

@media screen and (max-width: 950px) {
	.header__bars-menu {
		display: block;
	}
	.header__button-container {
		display: none;
		position: absolute;
		top: 55px;
		right: 10px;
		padding: 5px;
		background-color: rgba(47, 48, 43);
	}
	.header__button-container::before {
		content: "";
		position: absolute;
		top: -13px;
		right: 5px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid rgba(47, 48, 43);
	}
	.header__button-panel {
		flex-direction: column;
		align-items: stretch;
	}
	.header__button-container-layout {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: black;
		opacity: .2;
		z-index: 500;
	}
	.header__auto-update-label {
		align-self: center;
	}
	.button {
		margin-top: 5px;
	}
	.header__dashboard-link {
		margin-top: 5px;
	}

}

@media screen and (max-width: 550px) {
	.main__user-container {
		width: 100%;
		height: 50%;
	}
	.main__user-window {
		width: 100%;
	}
	.main__ouput-window {
		width: 100%;
		height: 50%;
	}
}

@media screen and (max-width: 500px) {
	.popup {
		padding: 20px;
	}
	.popup__title {
		margin-bottom: 0;
	}
	.popup__button {
		margin: 0;
		padding: 10px;
	}
}

@media screen and (max-width: 400px) {
	.main__promo-text {
		width: 90%;
		font-size: 24pt;
	}
}

@media screen and (max-height: 400px) {
	.main__promo-text {
		font-size: 24pt;
	}
	.popup {
		padding: 5px 20px;
	}
	.popup__title {
		margin-bottom: 0;
	}
}
