.page
{
    height: 100%;
    margin: 0;
}
.link
{
    text-decoration: none;

    color: #76dae8;
}

.link:hover
{
    color: white;
}
.button
{
    margin: 0 5px;

    outline: none;
}
.button_hide,
.checkbox_hide,
.main__promo-container,
.header__projects-list
{
    display: none;
}
.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 50px;

    color: white;
    background-color: black;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header__logo
{
    margin: 0 5px;
}
.header__bars-menu
{
    font-size: 34pt;

    display: none;

    padding: 0 10px;

    cursor: pointer;
}
.header__button-container
{
    z-index: 1000;

    display: block;
}
.header__button-panel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}
.header__auto-update-label
{
    position: relative;

    display: none;

    width: 60px;
    height: 38px;
    margin: 0 5px;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    border-radius: 6px;
    background-color: #36383f;
}
.header__auto-update-switcher
{
    position: absolute;
    top: 5px;
    left: 5px;

    display: inline-block;

    width: 20px;
    height: 28px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    border-radius: 6px;
    background-color: #fff;
}
.header__title
{
    font-size: 1.5em;

    display: none;

    padding-left: 10px;
}
.header__title__username
{
    display: none;

    cursor: default;
}
.header__title__projectname
{
    display: none;

    min-width: 50px;
    min-height: 10px;

    cursor: text;

    color: #76dae8;
}
.header__title__input
{
    font-size: .9em;

    max-width: 200px;

    color: #76dae8;
    border: transparent;
    background: transparent;
}
.header__dashboard-link
{
    display: none;

    margin: 0 5px;
}
.main
{
    display: block;
    height: 800px;

    background-color: #181818;
}
.main__projects-list
{
    display: none;
    overflow: auto;

    height: 100%;
}
.main__promo-container
{
    height: 100%;

    background-image: url('../img/promo-img.jpg');
    background-size: cover;
}
.main__promo-text
{
    font-size: 32pt;

    z-index: 100;

    width: 360px;
    padding: 1%;

    opacity: .8;
    color: white;
    background-color: rgba(47, 48, 43);
}
.main__promo-name
{
    margin: 0;
}
.main__promo-paragraph
{
    position: relative;
    left: 5%;

    margin: 0;
}
.main__user-container
{
    display: none;
    float: left;
    overflow: auto;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 50%;
    height: 100%;

    color: white;
}
.main__window-title
{
    margin: 0;
    padding-left: 10px;

    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    border: 1px solid #36383f;
}
.main__window-title:hover
{
    background-color: #1a1b1f;
}
.main__user-window
{
    font-size: 14px;

    width: 100%;
    height: 100%;
}
.main__ouput-window
{
    display: none;
    overflow: auto;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 50%;
    height: 100%;

    background-color: white;
}
.main__projects-list__wrapper
{
    font-size: 1.2em;

    position: relative;

    width: 50%;
    padding: 5px 0 0 5px;
}
.main__projects-list__wrapper .link
{
    display: block;

    width: 50%;
    padding-left: 50px;
}
.main__projects-list__delete
{
    position: absolute;

    display: none;

    color: rgb(173, 2, 2);
}
.main__projects-list__delete:hover
{
    cursor: pointer;

    color: rgb(250, 4, 4);
}
.main__projects-list__wrapper:hover .main__projects-list__delete
{
    display: block;
}
.footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-height: 70px;

    color: white;
    background-color: black;

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
.footer__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -ms-flex-pack: distribute;

        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer__list-item
{
    margin: 0 5px;

    list-style: none;

    text-decoration: none;
}
.footer__copyright
{
    text-align: center;
}

/* Стилевые свойства cообщения об успешном сохранении */

.save
{
    position: fixed;
    z-index: 4000;
    top: 20%;
    left: 35%;

    display: none;

    width: 30%;

    border-radius: 13px;
    background-color: white;
}
.save__message,
.delete__message
{
    display: none;

    text-align: center;
}
.layout__save__message
{
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    opacity: .5;
    background: black;
}

/* Стилевые свойства попапа Входа/Регистрации */

.layout
{
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    opacity: .3;
}
.popup
{
    position: fixed;
    z-index: 4000;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 70vw;
    max-width: 500px;
    padding: 40px;

    -webkit-transform: translate(-50%, -50%);

            -ms-transform: translate(-50%, -50%);

        transform: translate(-50%, -50%);

    border-radius: 13px;
    background-color: white;
}

.popup__close-cross
{
    font-size: 20pt;

    position: fixed;
    top: 5px;
    right: 5px;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

    opacity: .6;
    color: #404040;
}
.popup__close-cross:hover
{
    cursor: pointer;

    opacity: .8;
    color: black;
}
.popup__title
{
    display: none;

    text-align: center;
}
.popup__text-place
{
    width: 100%;
    height: 30px;
    margin: 10px 0;

    border: solid lightgrey 1px;
    outline: none;
}
.popup__error
{
    display: none;

    color: red;
}
.popup__button
{
    display: inline-block;

    margin: 10px;
    padding: 10px 15px;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    background-image: -webkit-linear-gradient(45deg, #51b8fa 0%, #33739c 50%, #265c7d 100%);
    background-image: -o-linear-gradient(45deg, #51b8fa 0%, #33739c 50%, #265c7d 100%);
    background-image: linear-gradient(45deg, #51b8fa 0%, #33739c 50%, #265c7d 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    -webkit-box-shadow: 5px 10px 32px 0 lightgrey;
            box-shadow: 5px 10px 32px 0 lightgrey;
}
.popup__button_hide
{
    display: none;
}
.popup__button:hover
{
    background-position: 0 0;
    -webkit-box-shadow: 0 0 0 0 lightgrey;
            box-shadow: 0 0 0 0 lightgrey;
}

@media screen and (max-width: 950px)
{
    .header__bars-menu
    {
        display: block;
    }
    .header__button-container
    {
        position: absolute;
        top: 55px;
        right: 10px;

        display: none;

        padding: 5px;

        background-color: rgba(47, 48, 43);
    }
    .header__button-container::before
    {
        position: absolute;
        top: -13px;
        right: 5px;

        width: 0;
        height: 0;

        content: '';

        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(47, 48, 43);
        border-left: 15px solid transparent;
    }
    .header__button-panel
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        -webkit-box-align: stretch;

            -ms-flex-align: stretch;

                align-items: stretch;
    }
    .header__button-container-layout
    {
        position: fixed;
        z-index: 500;
        top: 0;
        left: 0;

        display: none;

        width: 100vw;
        height: 100vh;

        opacity: .2;
        background-color: black;
    }
    .header__auto-update-label
    {
        -ms-grid-row-align: center;
            -ms-flex-item-align: center;
            align-self: center;
    }
    .button
    {
        margin-top: 5px;
    }
    .header__dashboard-link
    {
        margin-top: 5px;
    }
}

@media screen and (max-width: 550px)
{
    .main__user-container
    {
        width: 100%;
        height: 50%;
    }
    .main__user-window
    {
        width: 100%;
    }
    .main__ouput-window
    {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 500px)
{
    .popup
    {
        padding: 20px;
    }
    .popup__title
    {
        margin-bottom: 0;
    }
    .popup__button
    {
        margin: 0;
        padding: 10px;
    }
}

@media screen and (max-width: 400px)
{
    .main__promo-text
    {
        font-size: 24pt;

        width: 90%;
    }
    .header__title
    {
        font-size: 1.2em;
    }
}

@media screen and (max-height: 400px)
{
    .main__promo-text
    {
        font-size: 24pt;
    }
    .popup
    {
        padding: 5px 20px;
    }
    .popup__title
    {
        margin-bottom: 0;
    }
}
